Django>=3.2,<5.0
psycopg2-binary
dj-database-url
django_extensions
Pillow
django_q
requests
python-dotenv
django-crispy-forms
django-bootstrap4
crispy-bootstrap4
channels
uvicorn
pytz
rdp
gpxpy
djangorestframework
djangorestframework-api-key==3.*
qrcode
geopy
django-select2
pycountry