{% extends "base_generic.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

    <h2>Add Image</h2><br />
    <b>{{ dayprogram.description }}&nbsp;{{ dayprogram.tripdate }}</b>
    <br /><br />
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn">Upload</button>
    {% if form.errors %}
        <div class="errors">
            <ul>
                {% for field, errors in form.errors.items %}
                    <li>{{ field }}:
                        <ul>
                            {% for error in errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    </form>
    <br />
    <a href="{% url 'tripapp:dayprogram_detail' dayprogram.id %}">Back to Day Program</a>
{% endblock %}