{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html>
<head>
    <title>Add Image</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css">
</head>
<body>
<div class="card">
<div class="container">
    <h1>Add Image for: {{ dayprogram.tripdate }}</h1><br />
    {{ dayprogram.description }}
    <br /><br />
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn">Upload</button>
    {% if form.errors %}
        <div class="errors">
            <ul>
                {% for field, errors in form.errors.items %}
                    <li>{{ field }}:
                        <ul>
                            {% for error in errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    </form>
    <br />
    <a href="{% url 'tripapp:dayprogram_detail' dayprogram.id %}">Back to Day Program</a>
</div>
</div>
</body>
</html>
