{% extends "base_generic.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block content %}

    <h2>{% trans "Add Log Entry" %}</h2>
    <b>{{ dayprogram.description }}&nbsp;{{ dayprogram.tripdate|date:'d-M' }}</b>
    <br /><br />
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn">{% trans "Save Log Entry" %}</button>
    </form>
    <br />
    <a href="{% url 'tripapp:dayprogram_detail' dayprogram.id %}">&larr; {{ dayprogram.description }}&nbsp;{{ dayprogram.tripdate|date:'d-M' }}</a>
    <br /><br />
{% endblock %}
