{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{{ dayprogram.trip.name }} - {{ dayprogram.date }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css">
    <style>
    html,body { 
      {% if dayprogram.trip.image %}
      background: url('{{ dayprogram.trip.image.url }}') no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      {% endif %}
     }
    </style>
</head>
<body>
<div class="card">
<div class="container">
    <h1>{{ dayprogram.trip.name }} - {{ dayprogram.tripdate|date:'l d M' }}</h1>
        <table width="100%">
        <tr>
        <td align="left">
        {% if previous_dayprogram %}
            <a href="{% url 'tripapp:dayprogram_detail' previous_dayprogram.id %}" class="nodec">&larr;</a>
        {% endif %}
        </td>
        <td align="center"><strong>{{ dayprogram.description }}</strong></>
        <td align="right">
        {% if next_dayprogram %}
            <a href="{% url 'tripapp:dayprogram_detail' next_dayprogram.id %}" class="nodec">&rarr;</a>
        {% endif %}
        </td></tr></table>

    <!--<p>{{ dayprogram.description }}</p>-->
    {% if dayprogram.necessary_info %}
       <p>
       <span style="color:gray;">Information for Today</span><br />
       {{ dayprogram.necessary_info }}
       </p>
    {% endif %}
    {% if dayprogram.possible_activities %}
       <p>
       <span style="color:gray;">Ideas for Today</span><br />
       {{ dayprogram.possible_activities }}
       </p>
    {% endif %}

    {% if dayprogram.links.all %}
           <span style="color:gray;">Travel Documents</span><br />
    {% endif %}
    {% for link in dayprogram.links.all %}
            <p>
                {% if link.url %}
                    <a href="{{ link.url }}" target="_blank"><img src="{% static 'icons/icon-url.png' %}" width="16" height="16">&nbsp;{% if link.description %}{{ link.description }}{% else %}Link to travel document{% endif %}</a>
                {% endif %}
                {% if link.document %}
                    <a href="{{ link.document.url }}" target="_blank"><img src="{% static 'icons/icon-doc.png' %}" width="16" height="16">&nbsp;Download document</a>
                {% endif %}
            </p>
     {% endfor %}



    <br />
        {% for image in images %}
                <div class="polaroid"><img src="{{ image.image.url }}" alt="{{ image.description }}"></div>
                <div class="caption">{{ image.description }}</div><br />
        {% endfor %}
    <p>
    {% if today >= dayprogram.tripdate %}
      {% if questions %}
        {% if user.is_authenticated %}
          {% for question_with_info in questions_with_badge_info %}

          <h3>{{ question_with_info.question.question_text }}</h3>

            {% for tripper_badge_info in question_with_info.trippers_badge_info %}
             {% if tripper_badge_info.tripper.name == user.username %}

              {% if tripper_badge_info.has_badge %}
                <p>"{{ question_with_info.question.correct_answer }}" You have the badge for this question!</p>
              {% else %}
                <form id="questionForm" method="post" action="{% url 'tripapp:check_answer' dayprogram.id question_with_info.question.id %}">
                  {% csrf_token %}
                  {{ form.as_p }}
                  <button type="submit">Check Answer</button>
                </form>
              {% endif %}
             {% endif %}
            {% endfor %}
          {% endfor %}
        {% else %}
            <p>You need to <a href="{% url 'tripapp:login' %}">login</a> to see and answer the question(s).</p>
        {% endif %}
      {% endif %}
    {% endif %}
    </p>
    <p>
    {% if log_entries %}<h3>Log</h3>{% endif %}
        {% for log_entry in log_entries %}
            <span style="color:gray;">{{ log_entry.tripper.name }}:</span><br /> {{ log_entry.logentry_text }}<br />
        {% endfor %}
    </p>
</div>
</div>
<div class="card">
<div class="container">
    <a href="{% url 'tripapp:trip_detail' dayprogram.trip.slug  %}">Back to Trip Details</a>&nbsp;|&nbsp;
    {% if user.username in trippers_names %}
    <a href="{% url 'tripapp:add_image' dayprogram.id %}">Add Image</a>&nbsp;|&nbsp;
    <a href="{% url 'tripapp:add_logentry' dayprogram.id %}">Add Log Entry</a>&nbsp;|&nbsp;
    {% endif %}
    <a href="{% url 'tripapp:trip_dayprogram_points' dayprogram.trip.id dayprogram.id %}">View on Map</a>&nbsp;|&nbsp;
    <a href="#" data-toggle="modal" data-target="#suggestionModal">Add Suggested Activity for today</a>

    <!-- Suggestion Modal -->
    <div class="modal fade" id="suggestionModal" tabindex="-1" role="dialog" aria-labelledby="suggestionModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="suggestionModalLabel">Your Suggestion for this Day:</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="suggestionForm" method="post" action="{% url 'tripapp:add_suggestion' dayprogram.id %}">
                        {% csrf_token %}
                        {{ suggestionform.as_p }}
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
</div>
</body>
</html>
