{% extends "base_generic.html" %}
{% block content %}
    <h2>Questions</h2>
    <b>for {{ dayprogram.tripdate|date:"d-M" }}</b>
    <br><br>
    <a href="{% url 'tripapp:add_question' dayprogram.id %}" class="btn">Add Question</a>
    <a href="{% url 'tripapp:add_badge_and_question' dayprogram.id %}" class="btn">Add Question and Badge in one Go</a>
    <br /><br />
    <table class="table">
        <thead>
            <tr>
                <th>Question Text</th>
                <th>{% if is_trip_admin %}Correct Answer{% endif %}</th>
                <th>Badge</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for question in questions %}
                <tr>
                    <td>{{ question.question_text }}</td>
                    <td>{% if is_trip_admin %}{{ question.correct_answer }}{% endif %}</td>
                    <td>{{ question.badge.name }}</td>
                    <td>{% if is_trip_admin %}
                        <a href="{% url 'tripapp:edit_question' question.id %}" class="btn">Edit</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
