{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{{ dayprogram.trip.name }} - {{ dayprogram.date }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css">
    <script src="{% static 'js/set_timezone.js' %}"></script>
    <style>
    html,body { 
      {% if dayprogram.trip.image %}
      background: url('{{ dayprogram.trip.image.url }}') no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      {% endif %}
     }
    </style>
</head>
<body>
<div class="card">
<div class="container">
    <!--<h1>{{ dayprogram.trip.name }} - {{ dayprogram.tripdate|date:'l d M' }}</h1>-->
    <center><h1>{{ dayprogram.tripdate|date:'l d M' }}</h1></center>
    <table width="100%">
        <tr>
        <td align="left"><h2>
        {% if previous_dayprogram %}
            <a href="{% url 'tripapp:dayprogram_detail' previous_dayprogram.id %}" class="nodec">&larr;</a>
        {% else %}
            <a href="{% url 'tripapp:trip_detail' dayprogram.trip.slug  %}" class="nodec">&larr;</a>
            <!--<a href="{% url 'tripapp:trip_detail' dayprogram.trip.slug  %}" class="nodec">&#11025;</a>-->
        {% endif %}</h2>
        </td>
        <td align="center"><h2>
        {% if dayprogram.description %}
            <div class="dayprogram_description">{{ dayprogram.description }}</div>
        {% endif %}</h2>
        </td>
        <td align="right"><h2>
        {% if next_dayprogram %}
            <a href="{% url 'tripapp:dayprogram_detail' next_dayprogram.id %}" class="nodec">&rarr;</a>
        {% else %}
            <a href="{% url 'tripapp:trip_detail' dayprogram.trip.slug  %}" class="nodec">&rarr;</a>
            <!--<a href="{% url 'tripapp:trip_detail' dayprogram.trip.slug  %}" class="nodec">&#11023;</a>-->
        {% endif %}</h2>
        </td></tr>
    </table>

    <div class="tripmenucontainer">
        <div class="tripmenuitem"><a href="{% url 'tripapp:trip_detail' dayprogram.trip.slug  %}" class="btn">&#8617;&nbsp;Trip Programme</a></div>
        <div class="tripmenuitem"><a href="{% url 'tripapp:trip_dayprogram_points' dayprogram.trip.id dayprogram.id %}" class="btn">Tripday Map</a></div>

        <div class="tripmenuitem">
        <div class="dropdown">
            <a class="btn nav-link dropdown-toggle d-flex align-items-center" href="#" role="button" id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="ms-2">Add..</span>
            </a>
            <ul class="dropdown-menu custom-dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                {% if user.username in trippers_names %}
                    <li><a class="dropdown-item" href="{% url 'tripapp:add_image' dayprogram.id %}">...Image</a></li>
                    <li><a class="dropdown-item" href="{% url 'tripapp:add_logentry' dayprogram.id %}">...Log</a></li>
                {% endif %}
                {% if dayprogram.trip.use_expenses %}
                    <li><a class="dropdown-item" href="{% url 'tripapp:add_expense' dayprogram.trip.id logged_on_tripper.id %}?next=dayprogram_detail&dayprogram_id={{ dayprogram.id }}">...Expense</a></li>
                {% endif %}
                <li><a class="dropdown-item" href="#" data-toggle="modal" data-target="#suggestionModal">...Suggestion</a></li>
                {% if user.username in trippers_names %}
                    <li><a class="dropdown-item" href="{% url 'tripapp:edit_dayprogram' dayprogram.id %}">...Info</a></li>
                    <li><a class="dropdown-item" href="{% url 'tripapp:dayprogram_questions' dayprogram.id %}">...Question</a></li>
                    <li><a class="dropdown-item" href="{% url 'tripapp:add_link' dayprogram.id %}">...Link</a></li>
                {% endif %}



            </ul>
        </div>
        </div>
    </div>


    {% if dayprogram.necessary_info %}
        <p>
        <span style="color:gray;">Information for Today</span><br />
        {{ dayprogram.necessary_info|linebreaks }}
        </p>
    {% endif %}
    {% if dayprogram.possible_activities %}
        <p>
        <span style="color:gray;">Ideas for Today</span><br />
        {{ dayprogram.possible_activities|linebreaks }}
        </p>
    {% endif %}

    {% if dayprogram.links.all %}
        <span style="color:gray;">Travel Documents</span><br />
    {% endif %}
    {% for link in dayprogram.links.all %}
        <p>
            {% if link.url %}
                <a href="{{ link.url }}" target="_blank"><img src="{% static 'icons/icon-url.png' %}" class="url-icon" width="16" height="16">&nbsp;
                {% if link.description %}{{ link.description }}{% else %}Link to travel document{% endif %}</a>
            {% endif %}
            {% if link.document %}
                <a href="{{ link.document.url }}" target="_blank"><img src="{% static 'icons/icon-doc.png' %}" class="doc-icon" width="16" height="16">&nbsp;
                {% if link.description %}{{ link.description }}{% else %}Download Document{% endif %}</a>
            {% endif %}
        </p>
     {% endfor %}



    <br />
    {% for image in images %}
            <div class="polaroid"><img src="{{ image.image.url }}" alt="{{ image.description }}"></div>
            <div class="caption">{{ image.description }}</div><br />
    {% endfor %}
    <p>
    {% if today >= dayprogram.tripdate %}
      {% if questions %}
        {% if user.is_authenticated %}
          {% for question_with_info in questions_with_badge_info %}

          <h3>{{ question_with_info.question.question_text }}</h3>

            {% for tripper_badge_info in question_with_info.trippers_badge_info %}
             {% if tripper_badge_info.tripper.name == user.username %}

              {% if tripper_badge_info.has_badge %}
                <p>"{{ question_with_info.question.correct_answer }}" You have the badge for this question!</p>
              {% else %}
                <form id="questionForm" method="post" action="{% url 'tripapp:check_answer' dayprogram.id question_with_info.question.id %}">
                  {% csrf_token %}
                  {{ form.as_p }}
                  <button type="submit">Check Answer</button>
                </form>
              {% endif %}
             {% endif %}
            {% endfor %}
          {% endfor %}
        {% else %}
            <p>You need to <a href="{% url 'tripapp:login' %}">login</a> to see and answer the question(s).</p>
        {% endif %}
      {% endif %}
    {% endif %}
    </p>
    <p>
    {% if log_entries %}<h3>Log</h3>{% endif %}
        {% for log_entry in log_entries %}
            <span style="color:gray;">{{ log_entry.tripper.name }}:</span><br /> {{ log_entry.logentry_text }}<br />
        {% endfor %}
    </p>
</div>
</div>
<!-- old menu
<div class="card">
<div class="container">
    <p>&nbsp;</p>
    <div class="daydetail-button-container">
    {% if not dayprogram.trip.use_expenses %}
       <a href="{% url 'tripapp:trip_detail' dayprogram.trip.slug  %}" class="daydetail-button">Trip<br /> Overview</a>
    {% endif %}
    <a href="{% url 'tripapp:trip_dayprogram_points' dayprogram.trip.id dayprogram.id %}" class="daydetail-button">View<br /> on Map</a>
    {% if user.username in trippers_names %}
       <a href="{% url 'tripapp:add_image' dayprogram.id %}" class="daydetail-button"> Add<br /> Image</a>
       <a href="{% url 'tripapp:add_logentry' dayprogram.id %}" class="daydetail-button">Add <br />Log</a>
    {% endif %}
    <a href="#" data-toggle="modal" data-target="#suggestionModal" class="daydetail-button">Add<br />Suggestion</a>
    {% if dayprogram.trip.use_expenses %}
       <a href="{% url 'tripapp:add_expense' dayprogram.trip.id logged_on_tripper.id %}?next=dayprogram_detail&dayprogram_id={{ dayprogram.id }}" class="daydetail-button">Add<br />Expense</a>
    {% endif %}
    </div>
    <p>&nbsp;</p>
    {% if dayprogram.trip.use_expenses %}   
       <a href="{% url 'tripapp:trip_detail' dayprogram.trip.slug  %}" >Back to Trip Overview</a>
    {% endif %}
</div>
</div>
-->


    <!-- Suggestion Modal -->
    <div class="modal fade" id="suggestionModal" tabindex="-1" role="dialog" aria-labelledby="suggestionModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="suggestionModalLabel">Your Suggestion for this Day:</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="suggestionForm" method="post" action="{% url 'tripapp:add_suggestion' dayprogram.id %}">
                        {% csrf_token %}
                        {{ suggestionform.as_p }}
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


</body>
</html>
