{% extends "base_generic.html" %}
{% load i18n %}
{% block content %}
<h2>{% trans "Import Itinerary JSON" %}</h2>
{% trans "Ask your favourite AI to create an itinerary idea." %}<br>
{% trans "Include in the prompt that the idea needs to be presented exactly following the schema at:" %}
{% url 'tripapp:itinerary-schema' as schema_path %}
<a href="{{ request.scheme }}://{{ request.get_host }}{{ schema_path }}">{{ request.scheme }}://{{ request.get_host }}{{ schema_path }}</a>
<br><br>
<form method="post" action="{% url 'tripapp:import_itineraryidea' %}">
    {% csrf_token %}
    <textarea id="json_input" name="json_input" rows="20" cols="100" placeholder="Paste JSON here"></textarea><br><br>
    <button type="submit">Import JSON</button>
</form>

{% if import_status %}
    <p style="margin-top:15px; font-weight:bold;">{{ import_status }}</p>
{% endif %}

{% endblock %}
