{% extends "base_generic.html" %}
{% load i18n %}
{% block content %}
<style>
  #bottom-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    backdrop-filter: blur(8px);
    padding: 12px 20px;
    display: flex;
    align-items: center;
    z-index: 1000;
    box-shadow: 0 -4px 20px rgba(0,0,0,.1);
  }
</style>
<h2>{% trans "Itinerary Ideas" %}</h2>

<p>&nbsp;</p>
<div class="tripmenucontainer">

  <div class="tripmenuitem"><a href="{% url 'tripapp:create_itineraryidea_daylocations'  %}" class="btn"><span>{% trans "Brainstorm on Map" %}</span></a></div>
  <div class="tripmenuitem"><a href="{% url 'tripapp:pastecreate_itineraryidea' %}" class="btn"><span>{% trans "Import" %}</span></a></div>
  {% if ollama_configured %}<div class="tripmenuitem"><a href="{% url 'tripapp:generate_itineraryidea' %}" class="btn"><span>{% trans "Generate via AI" %}</span></a></div>{% endif %}
</div>  

<p>&nbsp;</p>

{% for idea in itineraryideas %}
  <div class="itinerary-idea" style="border:1px solid #ccc; padding:10px; margin-bottom:10px; border-radius:12px;">
    <strong>{{ idea.name }}</strong>
    <span style="float:right; color:gray; font-style:italic;">
      {% if idea.updated_at %}
        {{ idea.created_by.username }} - Last update: {{ idea.updated_by.username }}&nbsp;{{ idea.updated_at|date:"Y-m-d H:i" }}
      {% else %}
        {{ idea.created_by.username }} - Created: {{ idea.created_at|date:"Y-m-d H:i" }}
      {% endif %}
    </span>
    <br><br>

    <div style="float:left;">
      <a href="{% url 'tripapp:edit_map_markers' idea.pk %}">
        {% if request.user == idea.created_by %}
           <button type="button" class="btn">{% trans "Edit" %}</button>
        {% else %}
           <button type="button" class="btn">{% trans "View" %}</button>
        {% endif %}
      </a>
      {% if request.user == idea.created_by %}
      <a href="{% url 'tripapp:itineraryidea-detail' idea.pk %}">
        <button type="button" class="btn">{% trans "Assign and Convert" %}</button>
      </a>
      {% endif %}
    </div>

    {% if request.user == idea.created_by %}
    <div style="float:right;">
      <form method="post" action="{% url 'tripapp:itineraryidea-delete' idea.pk %}" style="display:inline;">
        {% csrf_token %}
        <button type="submit" class="btn" onclick="return confirm('{% trans "Are you sure?" %}')">{% trans "Delete" %}</button>
      </form>
    </div>
    {% endif %}

    <div style="clear:both;"></div>
  </div>
{% empty %}
  <p>{% trans "No itinerary ideas yet." %}</p>
{% endfor %}
<p>&nbsp;</p>
<a href="{% url 'tripapp:tribe_trips' %}">&larr;{% trans "Organize New" %}</a>
<p>&nbsp;</p>
<div id="bottom-bar">
  <a href="{% url 'tripapp:tribe_trips' %}" class="btn">&larr;{% trans "Organize New" %}</a>&nbsp;
  <a href="{% url 'tripapp:trip_list' %}" class="btn">{% trans "My Trips" %}</a>
</div>
<div style="height: 60px;"></div>
{% endblock %}
