{% extends "base_generic.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <h2>
        {% if scheduled_item %}
            {% trans "Edit Scheduled Item" %}
        {% else %}
            {% trans "Add Scheduled Item" %}
        {% endif %}
    </h2>
    <b>{% trans "For Day:" %} {{ dayprogram.tripdate|date:'d-M' }}</b>
    <br><br>
    <div class="mt-4">
        <form method="post"
              action="{% if scheduled_item %}
                         {% url 'tripapp:edit_scheduled_item' dayprogram.id scheduled_item.id %}
                      {% else %}
                         {% url 'tripapp:add_scheduled_item' dayprogram.id %}
                      {% endif %}">

            {% csrf_token %}
            {% include "tripapp/partials/_scheduled_item_fields.html" %}
            <button type="submit" class="btn">
                {% if scheduled_item %}{% trans "Update" %}{% else %}{% trans "Add" %}{% endif %}
            </button>
            <br><br>
            <a href="{% url 'tripapp:dayprogram_detail' dayprogram.id %}">&larr; {{ dayprogram.description }}&nbsp;{{ dayprogram.tripdate|date:'d-M' }}</a>
            <br><br>
        </form>
    </div>

</div>
{% endblock %}
