{% extends "base_generic.html" %}
{% load static %}
{% block content %}    
    <h2>Task Manager</h2>    

    <table border="0">
        <tbody>
            {% for task in tasks %}
                <tr>
                    <td><b>{{ task.description }}</b></td>
                    <td>{{ task.last_run|date:"d-m-Y H:i:s" }}</td>
                    <td colspan="3">
                        <form method="post" action="">
                            {% csrf_token %}
                            <input type="hidden" name="task_name" value="{{ task.name }}">
                            <button type="submit" class="btn">Run Task</button>
                        </form>
                    </td>
                </tr><tr>
                    <td>{{ task.last_message|linebreaksbr }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <p>&nbsp;</p>
    <a href="{{ previous_url|default:'#' }}" >← Back</a>
    <p>&nbsp;</p>
        
    <br /><br />
{% endblock %}