{% load static %}
<!DOCTYPE html>
<html>
<head>

    <title>Organize</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'favicon/safari-pinned-tab.svg' %}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"></script>
    <style>
      body, html {
      background: url('{{ background_image_url }}') no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      }

    </style>

</head>
<body>
    <div class="tripappcard">
    <div class="container">

      <div class="topcontainer">
        <div class="titlecontainer">
            <h1>Organize</h1>
        </div>
        <div class="menucontainer">
            <div class="dropdown">
                <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" role="button" id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="{% static 'icons/usericonreverse.png' %}" alt="{{ user.username }}" class="rounded-circle user-icon" width="20" height="20">
                <span class="ms-2">{{ user.username }}</span>
                </a>
                <ul class="dropdown-menu custom-dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                <li><a class="dropdown-item" href="{% url 'tripapp:update_profile' %}">Account</a></li>
                <li><a class="dropdown-item" href="{% url 'tripapp:tripper_profile' tripper.id %}">Settings</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{% url 'tripapp:trip_list' %}">My Trips</a></li>
                <li><a class="dropdown-item" href="{% url 'tripapp:tribe_trips' %}">Organize</a></li>
                <li><hr class="dropdown-divider"></li>
                {% if user.is_staff %}<li><a class="dropdown-item" href="{% url 'admin:index' %}">Admin</a></li>{% endif %}
                {% if user.is_staff %}<li><a class="dropdown-item" href="{% url 'tripapp:task_manager' %}">Background Tasks</a></li>{% endif %}
                {% if user.is_authenticated %} <li><a class="dropdown-item" href="{% url 'tripapp:logout' %}">Logout</a></li>{% endif %}
                </ul>
            </div>
        </div>
    </div>
    <p>&nbsp;</p>


    
    
    <a href="{% url 'tripapp:create_tribe' %}" class="btn-fixed-width">Create a New Tribe</a>&nbsp;
    {% if tribes %}<a href="{% url 'tripapp:invite_to_tribe' %}" class="btn-fixed-width">Invite People to the Tribe</a>{% endif %}
    <br /><br />
    {% for tribe in tribes %}
    <h3>You are in Tribe: {{ tribe.name }}</h3>
       {% for trip in trips %}
         <p><b>{{ trip.name }}</b><br /><br />
           {% if trip in admin_trips %}
           <a href="{% url 'tripapp:add_trippers' trip.id tribe.id %}" class="btn-less-padding"><img src="{% static 'icons/iconedittripper.png'  %}" width="40" height="40"></a>
           <a href="{% url 'tripapp:tripper_list' trip.id %}" class="btn-less-padding"><img src="{% static 'icons/iconeditbadge.png'  %}" width="40" height="40"></a>
           <a href="{% url 'tripapp:planner_map' trip.id %}" class="btn-less-padding"><img src="{% static 'icons/maps-iconreverse.png' %}" width="40" height="40"></a>
           {% endif %}
           <a href="{% url 'tripapp:trip_dayprograms' trip.id  %}" class="btn-less-padding"><img src="{% static 'icons/iconeditdayprogram.png'  %}" width="40" height="40"></a>
           <a href="{% url 'tripapp:trip_points' trip.id  %}" class="btn-less-padding"><img src="{% static 'icons/iconeditmap.png'  %}" width="40" height="40"></a>
           <a href="{% url 'tripapp:tripadmin_bingocards' trip.id  %}" class="btn-less-padding"><img src="{% static 'icons/iconeditbingo.png'  %}" width="40" height="40"></a>
          </p>
          <br /><br />
       {% endfor %}
       <p><a href="{% url 'tripapp:create_trip' tribe.id %}">Create a New Trip for the people in {{ tribe.name }}</a></p>
    {% endfor %}
    <br />
    <h1>Badges</h1>
    <a href="{% url 'tripapp:mytribes_badges_view' %}" class="btn">View Badges</a>
    <a href="{% url 'tripapp:upload_badge' %}" class="btn">Upload Badge</a>
    <br /><br /><br />
    </div>
    </div>
    <!--<div class="card">
    <div class="container">
    <br /><br />
    {% if user.is_authenticated %} {{ user.username }}{% else %}<a href="{% url 'tripapp:login' %}">Login</a>{% endif %}
    {% if user.is_authenticated %} <a href="{% url 'tripapp:logout' %}">Logout</a>{% endif %}&nbsp;&nbsp;
    {% if user.is_staff %}
    <a href="{% url 'admin:index' %}">Admin</a>
    {% endif %}&nbsp;&nbsp;
    {% if user.is_authenticated %}<a href="{% url 'tripapp:trip_list' %}" >Home</a>{% endif %}
 
    <br />
    </div>
    </div>-->
</body>
</html>
