
{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html>
<head>

    <title>{% trans "Expenses for Trip" %} {{ trip.name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'favicon/safari-pinned-tab.svg' %}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css">
    <style>
      body, html {
      {% if trip.image %}
      background: url('{{ trip.image.url }}') no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      {% endif %}
      }
      td {
        padding:4px;
      }

</style>

</head>
<body>
<div class="card">
<div class="container">

<h2>{% trans "Expenses" %}</h2>
<b>{{ trip.name }}</b>
<br /><br />
<p>
    <a href="#" id="toggle-filter" style="color: gray; cursor: pointer;">Filter</a>
</p>

<form method="get" class="form-inline mb-4" id="filter-form">
    <div class="form-group mr-2">
        <input type="date" id="filter_date" name="filter_date" class="form-control" value="{{ request.GET.filter_date }}">
    </div>
    <div class="form-group mr-2">
        <select id="filter_category" name="filter_category" class="form-control">
            <option value="" {% if not request.GET.filter_category %}selected{% endif %}>All</option>
            <option value="Transportation" {% if request.GET.filter_category == "Transportation" %}selected{% endif %}>Transportation</option>
            <option value="Lodging" {% if request.GET.filter_category == "Lodging" %}selected{% endif %}>Lodging</option>
            <option value="Food and Drinks" {% if request.GET.filter_category == "Food and Drinks" %}selected{% endif %}>Food and Drinks</option>
            <option value="Activity" {% if request.GET.filter_category == "Activity" %}selected{% endif %}>Activity</option>
            <option value="Other" {% if request.GET.filter_category == "Other" %}selected{% endif %}>Other</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Filter</button>
</form>

<script>
document.getElementById("toggle-filter").addEventListener("click", function (e) {
    e.preventDefault();
    const filterForm = document.getElementById("filter-form");
    filterForm.classList.toggle("show");
});
</script>
<br />

{% if expenses %}
<table>
    <thead>
        <tr>
            <th>{% trans "By" %}</th>
            <th>{% trans "Description" %}</th>
            <th style="text-align:right; padding-right: 10px;"">{% trans "Amount" %}</th>
            <th>{% trans "Date" %}</th>
            <th>{% trans "Receipt" %}</th>
        </tr>
    </thead>
    <tbody>
        {% for expense in expenses %}
        <tr>
            <td style="vertical-align: top; padding-right: 10px;">{{ expense.tripper.name }}</td>
            <td style="vertical-align: top; padding-right: 10px;">{{ expense.description }}
                {% if expense.category %}
                <br>
                <span style="color:gray; font-size:smaller;">
                   {{ expense.category }}
                </span>
                {% endif %}
            </td>
            <td style="text-align:right;vertical-align: top; padding-right: 10px;">
                {{ expense.converted_amount }}&nbsp;{{ app_currency }}
                {% if expense.currency != app_currency %}
                    <br>
                    <span style="color:gray; font-size:smaller;">
                        {{ expense.amount }}&nbsp;{{ expense.currency }}
                    </span>
                {% endif %}
            </td>            
            <td style="vertical-align: top; padding-right: 10px;">{{ expense.date|date:"d-M" }}</td>
            <td style="vertical-align: top; padding-right: 10px;">
                {% if expense.receipt %}
                    <a href="{{ expense.receipt.url }}">&#x1F9FE;</a>
               {% endif %}
            </td>
        </tr>
        {% endfor %}
        <tr>
            <td colspan="2" style="text-align: right; padding-right: 10px;">{% trans "Total" %}:</td>
            <td style="text-align:right; padding-right: 10px;">{{ total_amount }}&nbsp;{{ app_currency }}</td>
            <td colspan="2"></td>
        </tr>
    </tbody>
</table>
{% else %}
    <p>{% trans "No expenses recorded for this trip" %}.</p>
{% endif %}
<p>&nbsp;</p>
<!--add expense-->
<a href="{% url 'tripapp:add_expense' trip.id tripper.id %}?next=balance" class="btn">{% trans "Add New Expense" %}</a>
&nbsp;
<a href="{% url 'tripapp:trip_balance' trip.id %}" class="btn">{% trans "See Balance" %}</a>
<p>&nbsp;</p>
<a href="{% url 'tripapp:trip_detail' slug=trip.slug %}" >&larr;Trip</a>
<p>&nbsp;</p>

</div>
</div>
</body>
</html>
