                                             
{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html>
<head>
    <title>{{ trip.name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'favicon/safari-pinned-tab.svg' %}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"></script>
    <script src="{% static 'js/set_timezone.js' %}"></script>

    <style>
        :root {
        --border-color: #d3d3d3;
        }
        @media (prefers-color-scheme: dark) {
            :root {
                --border-color: #404040;
            }
        }


        body {
            {% if trip.image %}
             background: url('{{ trip.image.url }}') no-repeat center center fixed; 
             -webkit-background-size: cover;
             -moz-background-size: cover;
             -o-background-size: cover;
             background-size: cover;
            {% endif %}
        }
        .today {
        border: 2px solid #C70039; 
        padding: 5px;
        }
        .gray {
        color: gray;
        }


        .dayprogram-list {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        .dayprogram-item {
            padding: 10px;
            margin: 5px 0;
            border: 1px solid var(--border-color);
            border-radius: 5px;
            display:flex;
            transition: background-color 0.2s;

        }

        .dayprogram-item.today {
            border: 2px solid #C70039;
        }

        .dayprogram-item.gray {
            color: #777;
            cursor: default;
        }

        .dayprogram-item.dragging {
            opacity: 0.5;
            background-color: #cfe2ff;
        }
        .drag-handle {
            cursor: grab;
            font-size: 1.5rem;
            color: #888;
            user-select: none;
            margin-left:auto;
        }

        .drag-handle:active {
            cursor: grabbing;
        }
        .dayprogram-item.gray .drag-handle {
            cursor: not-allowed;
            opacity: 0.5; 
            pointer-events: none; 
        }
</style>
</head>
<body>
    <div class="tripappcard">
    <div class="container">
    
        <div class="topcontainer">
            <div class="titlecontainer">
                <h1>{{ trip.name }}</h1>
            </div>
            <div class="menucontainer">
                <div class="dropdown">
                    <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" role="button" id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="{% static 'icons/usericonreverse.png' %}" alt="{{ user.username }}" class="rounded-circle user-icon" width="20" height="20">
                    <span class="ms-2">{{ user.username }}</span>
                    </a>
                    <ul class="dropdown-menu custom-dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                    <li><a class="dropdown-item" href="{% url 'tripapp:update_profile' %}">Account</a></li>
                    {% if tripper %}<li><a class="dropdown-item" href="{% url 'tripapp:tripper_profile' tripper.id %}">{% trans "Settings" %}</a></li>{% endif %}
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="{% url 'tripapp:trip_list' %}">{% trans "My Trips" %}</a></li>
                    <li><a class="dropdown-item" href="{% url 'tripapp:tribe_trip_organize' trip.tribe.id trip.id  %}">{% trans "Organize" %}</a></li>
                    <li><hr class="dropdown-divider"></li>
                    {% if user.is_staff %}<li><a class="dropdown-item" href="{% url 'admin:index' %}">Admin</a></li>{% endif %}
                    {% if user.is_staff %}<li><a class="dropdown-item" href="{% url 'tripapp:task_manager' %}">Background Tasks</a></li>{% endif %}
                    {% if user.is_authenticated %} <li><a class="dropdown-item" href="{% url 'tripapp:logout' %}">Logout</a></li>{% endif %}
                    </ul>
                </div>
            </div>
        </div>
        <p>&nbsp;</p>
   

    <div class="tripmenucontainer">
        {% if not trip.use_facilmap %}
        <div class="tripmenuitem"><a href="{% url 'tripapp:trip_map_view' trip.id %}" class="btn"><img src="{% static 'icons/maps-iconreverse.png'  %}" width="56" height="50"></a></div>
        {% else %}
        <div class="tripmenuitem"><a href="{% url 'tripapp:planner_map' trip.id %}" class="btn"><img src="{% static 'icons/maps-iconreverse.png'  %}" width="56" height="50"></a></div>
        {% endif %}
        {% if tripper %}
        <div class="tripmenuitem"><a href="{% url 'tripapp:trip_tripper_bingocard' trip.id %}" class="btn"><img src="{% static 'icons/bingoicon-removebgreverse.png'  %}" width="56" height="50"></a></div>
        {% else %}
        <div class="tripmenuitem"><a href="{% url 'tripapp:trip_bingocards' trip.id %}" class="btn"><img src="{% static 'icons/bingoicon-removebgreverse.png'  %}" width="56" height="50"></a></div>
        {% endif %}
        <div class="tripmenuitem"><a href="{% url 'tripapp:trip_trippers' trip.id %}" class="btn"><img src="{% static 'icons/tourist-guide-icon-removebgreverse.png'  %}" width="56" height="50"></a></div>

        <div class="tripmenuitem">
        <div class="dropdown">
            <a class="btn nav-link dropdown-toggle d-flex align-items-center" href="#" role="button" id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="ms-2">{% trans "More" %}..</span>
            </a>
            <ul class="dropdown-menu custom-dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                <li><a class="dropdown-item" href="{% url 'tripapp:trip_checklist' trip.slug  %}">CheckPackList</a></li>
                {% if tripper %}
                    {% if trip.use_expenses %}
                    <li><a class="dropdown-item" href="{% url 'tripapp:trip_expenses_list' trip.id %}">{% trans "Expenses" %}</a></li>
                    {% endif %}
                    <li><a class="dropdown-item" href="{% url 'tripapp:trip_documents' trip.id %}">{% trans "Documents" %}</a></li>
                {% endif %}
                <li><a class="dropdown-item" href="{% url 'tripapp:tribe_trip_organize' trip.tribe.id trip.id  %}">Trip Settings</a></li>
                <li><a class="dropdown-item" href="{% url 'tripapp:export_trip_html_zip' trip.id %}">{% trans "Export Trip" %}</a></li>
            </ul>
        </div>
        </div>
    </div>

    <br />
    <h2>{% trans "Programme" %}</h2>

        <ul id="dayprogram-list" class="dayprogram-list">
            {% for day_program in dayprograms %}
                <li class="dayprogram-item 
                           {% if day_program.tripdate|date:'Y-m-d' == today|date:'Y-m-d' %}today{% endif %}
                           {% if day_program.tripdate|date:'Y-m-d' < today|date:'Y-m-d' %}gray{% endif %}" 
                    data-id="{{ day_program.id }}">
                    <a href="{% url 'tripapp:dayprogram_detail' day_program.id %}" class="tripdetail">
                        {{ day_program.dayprogramnumber }}&nbsp;
                        ({{ day_program.tripdate|date:'d M' }})&nbsp;
                        <i>{{ day_program.description }}</i>
                    </a>
                    {% if tripper.is_trip_admin %}
                        {% if day_program.tripdate|date:'Y-m-d' > today|date:'Y-m-d' %}
                            <div class="drag-handle" title="Drag for reorder">&#9783;</div>
                        {% endif %}
                    {%endif %}
                </li>
            {% endfor %}
        </ul>
        
        {% if tripper.is_trip_admin %}
            {% if trip.date_to|date:'Y-m-d' > today|date:'Y-m-d'  %}
            <div align="right"><span style="color:gray"><button id="save-order-btn">{% trans "Save Reordering" %}</button></span></div>
            {% endif %}
        {% endif %}
        

        
    <br />
    </div>
    </div>

    
</body>

<script>

document.addEventListener("DOMContentLoaded", function () {
    const list = document.getElementById('dayprogram-list');
    let draggingEl = null;

    if (!list) return;

    function handleDragStart(e) {

 
        draggingEl = e.target;
        e.target.classList.add('dragging');
        e.dataTransfer.effectAllowed = 'move';
    }

    function handleDragOver(e) {
        e.preventDefault();
        const dragging = document.querySelector('.dragging');
        const afterElement = getDragAfterElement(list, e.clientY);
        if (afterElement == null) {
            list.appendChild(dragging);
        } else {
            list.insertBefore(dragging, afterElement);
        }
    }

    function handleDragEnd(e) {
        e.target.classList.remove('dragging');
    }

    function getDragAfterElement(container, y) {
        const draggableElements = [...container.querySelectorAll('.dayprogram-item:not(.dragging)')];
        return draggableElements.reduce((closest, child) => {
            const box = child.getBoundingClientRect();
            const offset = y - box.top - box.height / 2;
            if (offset < 0 && offset > closest.offset) {
                return { offset: offset, element: child };
            } else {
                return closest;
            }
        }, { offset: Number.NEGATIVE_INFINITY }).element;
    }

    // Enable drag events
    document.querySelectorAll('.dayprogram-item').forEach(item => {
        item.setAttribute('draggable', true);
        item.addEventListener('dragstart', handleDragStart);
        item.addEventListener('dragend', handleDragEnd);
    });

    list.addEventListener('dragover', handleDragOver);

    // Touch support
    list.querySelectorAll('.dayprogram-item').forEach(item => {
        const handle = item.querySelector('.drag-handle');

        if (!handle) return;

        handle.addEventListener('touchstart', e => {
            e.stopPropagation();
            draggingEl = item;
            item.classList.add('dragging');
            touchStartY = e.touches[0].clientY;
        });

        item.addEventListener('touchmove', e => {
            if (!draggingEl) return;

            e.preventDefault();
            const touchY = e.touches[0].clientY;
            const afterElement = getDragAfterElement(list, touchY);

            if (afterElement == null) {
                list.appendChild(draggingEl);
            } else {
                list.insertBefore(draggingEl, afterElement);
            }
        });

        item.addEventListener('touchend', e => {
            if (draggingEl) draggingEl.classList.remove('dragging');
            draggingEl = null;
        });
    });
    // Save
    const saveBtn = document.getElementById('save-order-btn');
    if (saveBtn) {
        saveBtn.addEventListener('click', () => {
            const newOrder = Array.from(list.children).map((li, index) => ({
                id: li.dataset.id,
                new_order: index + 1
            }));

            fetch("{% url 'tripapp:reorder_dayprograms' trip.id %}", {
                method: "POST",
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}',
                },
                body: JSON.stringify({ order: newOrder })
            }).then(response => {
                if (response.ok) {
                    location.reload();
                } else {
                    alert("Error when saving");
                }
            });
        });
    }
});
</script>






</html>