
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{{ trip.name }} Map</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-gpx/1.3.1/gpx.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.heat/0.2.0/leaflet-heat.js"></script>
    <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
    <style>
        html,body { 
        {% if dayprogram.trip.image %}
        background: url('{{ dayprogram.trip.image.url }}') no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        {% endif %}
        }
        #map {
            height: 600px;
        }
        .leaflet-popup-content {
            background-color: rgba(255, 255, 255, 0.8) !important; 
            padding: 0 !important;
            margin: 0 !important;
        }

        .leaflet-popup-content-wrapper {
            background: transparent !important;
            box-shadow: none !important;
            border: none !important;
        }

        .leaflet-popup-tip {
            background: transparent !important;
        }


        .custom-popup {
            font-family: sans-serif;
            padding: 8px;
            text-align: center;
        }
        .custom-popup h4 {
            margin: 0 0 4px 0;
            font-size: 14px;
            font-weight: bold;
        }
        .custom-popup img {
            max-width: 120px;
            border-radius: 6px;
            margin-bottom: 6px;
            box-shadow: 0 1px 4px rgba(0,0,0,0.2);
        }
        .custom-popup .timestamp {
            font-size: 12px;
            color: #666;
        }
        .navigation-bar {
            display: flex;
            justify-content: space-between; 
            align-items: center; 
            width: 100%; 
            padding: 10px 0; 
        }

        .nav-link {
            font-size: 28px; 
            text-decoration: none; 
        }

        .nav-link:hover {
            color: gray; 
        }

        .nav-date h1 {
            margin: 0; 
            font-size: 24px; 
            text-align: center;
        }
    </style>
</head>
<body>
<div class="tripappcard">
<div class="container">


      <div class="navigation-bar">
        <div class="nav-item">
            {% if previous_dayprogram %}
                <a href="{% url 'tripapp:trip_dayprogram_points' dayprogram.trip.id previous_dayprogram.id %}" class="nav-link">&larr;</a>
            {% else %}
                <a href="{% url 'tripapp:trip_detail' dayprogram.trip.slug %}" class="nav-link">&larr;</a>
            {% endif %}
        </div>
    
        <div class="nav-item nav-date">
            <h1>{{ dayprogram.tripdate|date:'l j M' }}</h1>
        </div>
    
        <div class="nav-item">
            {% if next_dayprogram %}
                <a href="{% url 'tripapp:trip_dayprogram_points' dayprogram.trip.id next_dayprogram.id %}" class="nav-link">&rarr;</a>
            {% else %}
                <a href="{% url 'tripapp:trip_detail' dayprogram.trip.slug %}" class="nav-link">&rarr;</a>
            {% endif %}
        </div>
    </div>
  
    
  <p>&nbsp;</p>
  <div id="map"
    data-trip-id="{{ trip.id }}"
    data-dayprogram-id="{{ dayprogram.id }}"
    data-csrf="{{ csrf_token }}">
  </div>
  <script>
  {% if country_coords and not points and not locations and not photolocations %}
        var map = L.map('map').setView([{{ country_coords.0 }},{{ country_coords.1 }}], 7);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
            maxZoom: 19,
        }).addTo(map);
        var markers = L.featureGroup();

        var scaleControl = L.control.scale();
        scaleControl.setPosition('bottomleft');
        map.addControl(scaleControl);

        new L.Control.Geocoder().addTo(map);

        {% endif %}   

  {% if points or locations or photolocations and not country_coords %}

        // Initialize the map
        var map = L.map('map');

        // Set up the OSM layer
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
            maxZoom: 19,
        }).addTo(map);

        var scaleControl = L.control.scale();
        scaleControl.setPosition('bottomleft');
        map.addControl(scaleControl);

        new L.Control.Geocoder().addTo(map);

        var bedIcon = L.icon({
            iconUrl: "{% static 'icons/mapicons/mappin-bed.png' %}",
            shadowUrl: "{% static 'icons/mapicons/mappin-bed-shadow.png' %}",

            iconSize:     [50, 50], // size of the icon
            shadowSize:   [50, 50], // size of the shadow
            iconAnchor:   [25, 50], // point of the icon which will correspond to marker's location
            shadowAnchor: [25, 50],  // the same for the shadow
            popupAnchor:  [-3, -76] // point from which the popup should open relative to the iconAnchor
        });
        var restaurantIcon = L.icon({
            iconUrl: "{% static 'icons/mapicons/mappin-eat.png' %}",
            shadowUrl: "{% static 'icons/mapicons/mappin-bed-shadow.png' %}",

            iconSize:     [50, 50], // size of the icon
            shadowSize:   [50, 50], // size of the shadow
            iconAnchor:   [25, 50], // point of the icon which will correspond to marker's location
            shadowAnchor: [25, 50],  // the same for the shadow
            popupAnchor:  [0, -60] // point from which the popup should open relative to the iconAnchor
        });
        var visitedLocationIcon = L.icon({
            iconUrl: "{% static 'icons/mapicons/mappin-visited.png' %}",

            iconSize:     [12, 12], // size of the icon
            iconAnchor:   [8, 8], // point of the icon which will correspond to marker's location
            popupAnchor:  [0, -20] // point from which the popup should open relative to the iconAnchor
        });
        var visitedPhotoLocationIcon = L.icon({
            iconUrl: "{% static 'icons/mapicons/mappin-cameraphotoicon.png' %}",

            iconSize:     [20, 20], // size of the icon
            iconAnchor:   [8, 8], // point of the icon which will correspond to marker's location
            popupAnchor:  [0, -20] // point from which the popup should open relative to the iconAnchor
        });

        // Add markers from Django context
        var points = [
            {% for point in points %}
                { "name": "{{ point.name }}", "coords": [{{ point.latitude }}, {{ point.longitude }}], "marker_type": "{{ point.marker_type }}"  },
            {% endfor %}
        ];
        var locations = [
            {% for location in locations %}
                {
                    "coords": [{{ location.latitude }}, {{ location.longitude }}],
                    "timestamp": "{{ location.timestamp }}"
                },  
           {% endfor %}
        ];
        var photolocations = [
            {% for photolocation in photolocations %}
                {% if photolocation.thumbnail %}
                    {
                        "coords" : [{{ photolocation.latitude }}, {{ photolocation.longitude }}],
                        "timestamp" : "{{ photolocation.timestamp }}",
                        "immich_photo_id" : "{{ photolocation.immich_photo_id }}",
                        "immich_url" : "{{ photolocation.tripper.immich_url }}",
                        "thumbnail" : "{{ request.scheme }}://{{ request.get_host }}{{ photolocation.thumbnail.url }}"
                    },
                {% endif %}  
            {% endfor %}
        ];


        // Create a feature group to store all the markers
        var markers = L.featureGroup();
        var locationsLayer = L.featureGroup();
        var photolocationsLayer = L.featureGroup();

        // Add markers to the feature group
        points.forEach(function(point) {
            var popupContent = `<div class="custom-popup"><h4>${point.name}</h4></div>`;
            var marker;
            console.log('marker_type:', point.marker_type);
            console.log('coords:', point.coords);

            if (!point.coords || !Array.isArray(point.coords) || point.coords.length !== 2 || 
                typeof point.coords[0] !== 'number' || typeof point.coords[1] !== 'number') {
                console.warn('Ongeldige coördinaten voor punt:', point);
                return; 
            }
            if (point.marker_type === 'bed') {
               marker = L.marker(point.coords, {icon: bedIcon}).bindPopup(popupContent);
            } else if (point.marker_type === 'restaurant') {
                marker = L.marker(point.coords, {icon: restaurantIcon}).bindPopup(popupContent);
            } else {
                marker = L.marker(point.coords).bindPopup(point.name);
            }            
            markers.addLayer(marker);
        });
        // visited locations
        locations.forEach(function(location) {
            var popupContent = `<div class="custom-popup"><h4>${location.timestamp}</h4></div>`;
            var marker;
            marker = L.marker(location.coords, {icon: visitedLocationIcon}).bindPopup(popupContent);
            locationsLayer.addLayer(marker);
        });
        // visited photolocations
         photolocations.forEach(function(photolocation) {
            var popupContent = `<div class="custom-popup"><a href="${photolocation.immich_url}photos/${photolocation.immich_photo_id}"><img src="${photolocation.thumbnail}" alt="Thumbnail" /></a><div class="timestamp">${photolocation.timestamp}</div></div>`;
            var marker;
            marker = L.marker(photolocation.coords, {icon: visitedPhotoLocationIcon}).bindPopup(popupContent);
            photolocationsLayer.addLayer(marker);
            console.log('photo')
         });
        
        // Add the feature group to the map
        markers.addTo(map);
        //locationsLayer.addTo(map); //initially off
        photolocationsLayer.addTo(map);
        // Set the view to fit all the markers
        var allLayers = L.featureGroup([markers, locationsLayer, photolocationsLayer]);
        var bounds = allLayers.getBounds();
        if (bounds.isValid()) {
            map.fitBounds(bounds);
        }

        var lineCoordinates = [];
        locations.forEach(function(location) {
            lineCoordinates.push(location.coords);
        });
        var polyline;
        if (lineCoordinates.length > 0) {
            polyline = L.polyline(lineCoordinates, { color: 'blue', weight: 2 }).addTo(map);
            var lineBounds = polyline.getBounds();
            if (lineBounds.isValid()) {
                map.fitBounds(lineBounds);
            }
        }

        var heatmapData = [];
        locations.forEach(function(location) {
            heatmapData.push([...location.coords, 0.7]); 
        });
        var heatmapLayer = L.heatLayer(heatmapData, {
            radius: 25, 
            blur: 15,   
            maxZoom: 17, 
        }).addTo(map);

        var gpxRoutesLayer = L.layerGroup();
        // Add route to the map
        {% for route in dayprogram.routes.all %}
            new L.GPX("{{ route.gpx_file.url }}", {
                async: true,
                polyline_options: {
                color: 'blue',        
                opacity: 0.7,         
                weight: 4,            
                dashArray: '5, 10'
                }    
            }).on('loaded', function(e) {
                map.fitBounds(e.target.getBounds());
            }).addTo(gpxRoutesLayer);
        {% endfor %}
        gpxRoutesLayer.addTo(map);

        var overlays = {
            "Markers": markers,
            "GPX Route": gpxRoutesLayer,
            "Tracked Locations": locationsLayer,
            "Photolocations": photolocationsLayer,
            "Lines": polyline,
            "Heatmap": heatmapLayer
        };
        const validOverlays = {};
        for (const [key, layer] of Object.entries(overlays)) {
            if (layer && typeof layer.addTo === 'function') {
                validOverlays[key] = layer;
            }
        }

        L.control.layers(null, validOverlays, { collapsed: true,position: 'bottomright' }).addTo(map);

    {% endif %}   

    {% if points or locations or photolocations or country_coords %}


        // Function to handle double-clicks on the map
        function handleMapDoubleClick(map) {
            const mapElement = document.getElementById('map');
            const tripId = mapElement.dataset.tripId;
            const dayprogramId = mapElement.dataset.dayprogramId;
            const csrfToken = mapElement.dataset.csrf;
            console.log("Trip Id", tripId);
            console.log("Attaching dblclick event listener to map...");

            map.on('dblclick', function (e) {
                var latLng = e.latlng;
                console.log('doubleclicked!', latLng);

                var newMarker = L.marker(latLng).addTo(map);

                newMarker.bindPopup(
                    `<div class="p-2 leaflet-custom-popup" style="min-width:200px;">
                        <div class="form-group">
                            <input type="text" class="form-control mb-2 event-name" placeholder="Point Description">
                        </div>
                        <div class="form-group">
                            <select class="form-control mb-3 event-type">
                                <option value="default" selected>Default</option>
                                <option value="bed">Bed</option>
                                <option value="restaurant">Restaurant</option>
                            </select>
                        </div>
                        <div class="d-flex justify-content-between">
                            <button class="btn save-event">Save</button>
                            <button class="btn delete-event">Delete</button>
                        </div>
                    </div>`
                ).openPopup();

                setTimeout(() => {
                    const popupContent = document.querySelector('.leaflet-popup-content');

                    const nameInput = popupContent.querySelector('.event-name');
                    const typeSelect = popupContent.querySelector('.event-type');
                    const saveBtn = popupContent.querySelector('.save-event');
                    const deleteBtn = popupContent.querySelector('.delete-event');

                    function handleSave() {
                        const eventName = nameInput.value;
                        const eventType = typeSelect.value;

                        console.log('Saving event:', eventName, eventType);

                        $.ajax({
                            url: '/save_event/',
                            method: 'POST',
                            data: {
                                'name': eventName,
                                'type': eventType,
                                'latitude': latLng.lat,
                                'longitude': latLng.lng,
                                'trip': tripId,
                                'dayprogram': dayprogramId,
                                'csrfmiddlewaretoken': csrfToken
                            },
                            success: function () {
                                console.log('Event saved successfully!');
                            },
                            error: function (xhr, status, error) {
                                console.error('Error saving event:', error);
                            }
                        });

                        map.closePopup();
                    }

                    function handleDelete() {
                        map.removeLayer(newMarker);
                        map.closePopup();
                    }

                    function addTapSupport(el, handler) {
                        el.addEventListener('click', handler);
                        el.addEventListener('touchend', function (e) {
                            e.preventDefault(); 
                            handler(e);
                        });
                        el.addEventListener('pointerup', handler);
                    }

                    addTapSupport(saveBtn, handleSave);
                    addTapSupport(deleteBtn, handleDelete);

                }, 0);


            });
        }


        handleMapDoubleClick(map);

        map.doubleClickZoom.disable();

    </script>

  {% else %}
    <p>No points defined for this day / No registered tracked locations</p>
  {% endif %}
  <p>&nbsp;</p>
  <p><a href="{% url 'tripapp:dayprogram_detail' dayprogram.id %}" style="text-decoration:none" >&crarr; Dayprogram {{ dayprogram.description }}</a></p>
  <p>&nbsp;</p>
</div>
</div>
</body>
</html>
