{% extends "base_generic.html" %}
{% load static %}
{% block content %}
  <h2>Trippers on {{ trip.name }}</h2>
    Make a tripper admin and/or assign a badge to a tripper<br /><br />
    {% for tripper in trippers %}
     
     <div class="trip-card">
          <a href="{% url 'tripapp:edit_tripper' tripper.id trip.id %}">
          <img src="{% if tripper.photo %}{{ tripper.photo.url }}{% else %}{% static 'profile.png' %}{% endif %}" 
               alt="Profile">

          <div class="card-body">
              <div class="tripper-name">
                  {{ tripper.name }}
              </div>
          </div>
          </a>
      </div>
        
    {% empty %}
      No trippers on this trip.
    {% endfor %}
  
{% endblock %}
