{% load static %}
<!DOCTYPE html>
<html>
<head>

    <title>Documents for Trip {{ trip.name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'favicon/safari-pinned-tab.svg' %}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css">
    <style>
      body, html {
      {% if trip.image %}
      background: url('{{ trip.image.url }}') no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      {% endif %}
      }

    </style>

</head>
<body>
<div class="tripappcard">
<div class="container">

<h1>Documents and Links</h1>
<span style="color:gray;">{{ trip.name }}</span>
<br /><br /><br />


{% if trip_documents %}
    {% for link in trip_documents %}
        <p>
        {% if link.url %}
            <a href="{{ link.url }}" target="_blank"><img src="{% static 'icons/icon-url.png' %}" class="url-icon" width="16" height="16">&nbsp;
            {% if link.description %}{{ link.description }}{% else %}Link to travel document{% endif %}</a>
        {% endif %}
        {% if link.document %}
            <a href="{{ link.document.url }}" target="_blank"><img src="{% static 'icons/icon-doc.png' %}" class="doc-icon" width="16" height="16">&nbsp;
            {% if link.description %}{{ link.description }}{% else %}Download Document{% endif %}</a>
        {% endif %}
        </p>
    {% endfor %}
{% else %}
<p>No documents or links for this trip.</p>
{% endif %}

<p>&nbsp;</p>
<a href="{% url 'tripapp:trip_detail' slug=trip.slug %}" >Back to Trip</a>

</div>
</div>
</body>
</html>
