
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{{ trip.name }} Map</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css">

    <style>
        #map {
            height: 600px;
        }
    </style>
</head>
<body>
  {% if points %}
    {% if not trip.use_facilmap %}
    <h1>{{ trip.name }} Map</h1>
    <div id="map"></div>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script>
        // Initialize the map
        var map = L.map('map');

        // Set up the OSM layer
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
        }).addTo(map);
        var bedIcon = L.icon({
            iconUrl: "{% static 'icons/mapicons/mappin-bed.png' %}",
            shadowUrl: "{% static 'icons/mapicons/mappin-bed-shadow.png' %}",

            iconSize:     [50, 50], // size of the icon
            shadowSize:   [50, 50], // size of the shadow
            iconAnchor:   [25, 50], // point of the icon which will correspond to marker's location
            shadowAnchor: [25, 50],  // the same for the shadow
            popupAnchor:  [-3, -76] // point from which the popup should open relative to the iconAnchor
        });


        // Add markers from Django context
        var points = [
            {% for point in points %}
                { "name": "{{ point.name }}", "coords": [{{ point.latitude }}, {{ point.longitude }}] },
            {% endfor %}
        ];

        // Create a feature group to store all the markers
        var markers = L.featureGroup();

        // Add markers to the feature group
        points.forEach(function(point) {
            var marker = L.marker(point.coords,{icon:bedIcon}).bindPopup(point.name);
            markers.addLayer(marker);
        });

        // Add the feature group to the map
        markers.addTo(map);

        // Set the view to fit all the markers
        map.fitBounds(markers.getBounds());
    </script>
  {% else %}
    <h1>{{ trip.name }} Map</h1>

    <iframe style="height: 700px; width: 100%; border: none;" src="https://facilmap.org/HT{{ tribe_name_no_spaces }}{{ trip_name_no_spaces }}ad#16/{{first_point.latitude }}/{{ first_point.longitude }}/Lima" id="facilmap">
    <script>
        window.addEventListener("message", function(evt) {
                if(evt.data && evt.data.type == "facilmap-hash" && location.hash != "#" + evt.data.hash)
                        location.replace("#" + evt.data.hash);
        });

        function handleHashChange() {
                var iframe = document.getElementById("facilmap");
                iframe.src = iframe.src.replace(/(#.*)?$/, "") + location.hash;
        }

        window.addEventListener("hashchange", handleHashChange);
        if (location.hash)
                handleHashChange();
    </script>

  {% endif %}
  {% else %}
    <p>No points defined for this day</p>
  {% endif %}
</body>
</html>
