{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{{ tripper.name }}'s Badges</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css">
</head>
<body>
<div class="card">
<div class="container">
        
    <h1>{{ tripper.name }}'s Badges</h1>
    <div class="badgecontainer">
        {% for badge in badges %}
            {% if badge.level == 'global' %}
                <p><img class-"img" src="{% static badge.image %}" alt="{{ badge.name }}"></p>
                {{ badge.name }}
            {% else %}
                <p><img class="img" src="{{ badge.image.url }}" alt="{{ badge.name }}"></p>
                {{ badge.name }}
             {% endif %}
       {% endfor %}
    </div>
    <p>&nbsp;</p>
</div>
</div>
</body>
</html>
