{% extends "base_generic.html" %}
{% load i18n %}

{% block content %}
    <h1>Day Programs for {{ trip.name }}</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Day Nr</th>
                <th>Date</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for dayprogram in dayprograms %}
                <tr>
                    <td>{{ dayprogram.dayprogramnumber }}</td>
                    <td>{{ dayprogram.tripdate }}</td>
                    <td>{{ dayprogram.description }}</td>
                    <td>
                        {% if user_is_tripper %}
                        <a href="{% url 'tripapp:edit_dayprogram' dayprogram.id %}">Edit</a>&nbsp;
                        <a href="{% url 'tripapp:dayprogram_questions' dayprogram.id %}">Questions</a>
                        <a href="{% url 'tripapp:dayprogram_scheduled_items' dayprogram.id %}">Scheduled Items</a>
                        <a href="{% url 'tripapp:add_link' dayprogram.id %}">Link</a>
                        {% endif %}
                     </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if trip in admin_trips %}
    <a href="{% url 'tripapp:dayprogram_add' trip.id %}" class="btn">Add a Day</a>&nbsp;
    {% endif %}
    <p>&nbsp;</p>
    <p>
    <a href="{% url 'tripapp:tribe_trip_organize' trip.tribe.id trip.id %}">Back to Organize Trip</a>&nbsp;|&nbsp;
    <a href="{% url 'tripapp:trip_detail' slug=trip.slug  %}">Go to Trip</a>
    </p>
{% endblock %}
