{% extends "base_generic.html" %}
{% load i18n %}

{% block content %}
    <h1>Points for Trip {{ trip.name }}</h1>
    <table class="table">
        <thead>
            <tr>
                <th>{% trans "Point description" %}</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>Day Programs</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for point in points %}
                <tr>
                    <td>{{ point.name }}</td>
                    <td>{{ point.latitude }}</td>
                    <td>{{ point.longitude }}</td>
                    <td>
                        {% for dayprogram in point.dayprograms.all %}
                            {{ dayprogram.tripdate }}<br>
                        {% endfor %}
                    </td>
                    <td>
                        <a href="{% url 'tripapp:edit_point' trip.id point.id %}" class="btn">Edit</a>
                    </td>
                    <td>
                        {% if user.is_staff %}
                        <form action="{% url 'tripapp:delete_point' trip.id point.id %}" method="post" style="display:inline;">
                            {% csrf_token %}
                            <button type="submit" class="btn" onclick="return confirm('Are you sure you want to delete this point?');">Delete</button>
                        </form>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'tripapp:add_point' trip.id %}" class="btn">Add Point</a>
    <br />
    <table class="table">
        <thead>
            <tr>
                <th>Route Description</th>
                <th>Day Program</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for route in routes %}
                <tr>
                    <td>{{ route.description }}</td>
                    <td>
                        {{ route.dayprogram.tripdate }}
                    </td>
                    <td>
                        {% if user.is_staff %}
                        <form action="{% url 'tripapp:delete_route' trip.id route.id %}" method="post" style="display:inline;">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this point?');">Delete</button>
                        </form>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'tripapp:upload_route' trip.id %}" class="btn">Upload a Route</a>
    <p>&nbsp;</p>
    <p>
    <a href="{% url 'tripapp:tribe_trip_organize' trip.tribe.id trip.id %}">Back to Organize Trip</a>&nbsp;|&nbsp;
    <a href="{% url 'tripapp:trip_detail' slug=trip.slug  %}">Go to Trip</a>
    </p>
 
{% endblock %}
