{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{{ trip.name }} Map</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-gpx/1.3.1/gpx.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.heat/0.2.0/leaflet-heat.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
        body {
            {% if trip.image %}
            background-image: url('{{ trip.image.url }}');
            background-size: cover;
            background-position: center center;
            {% endif %}
        }
        #map {
            height: 600px;
        }
    </style>
</head>
<body>
    <div class="card">
    <div class="container">

    <h1>{{ trip.name }} Map</h1>



    <div id="map"></div>
    {% if trip.use_facilmap %}
        <p>
        <a href="{% url 'tripapp:trip_map_view' trip.id %}" >Displaying planned and visited locations</a>&nbsp;
        <a href="{% url 'tripapp:planner_map' trip.id %}" >Switch to Facilmap</a></p>
    {% else %}
        <p>Displaying planned and visited locations</p>
    {% endif %}

    {% if locations_truncated %}
    <p>Only the first {{ max_locations }} locations are shown. See more via tripdayprograms.</p>
    {% endif %}
    
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script>
        // Initialize the map
        {% if country_coords and not points and not locations and not photolocations %}
           var map = L.map('map').setView([{{ country_coords.0 }},{{ country_coords.1 }}], 7);
        {% else %}
           var map = L.map('map');
        {% endif %}
        console.log("Map initialized:", map);
        // Set up the OSM layer
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
            maxZoom: 19,
        }).addTo(map);

        var bedIcon = L.icon({
            iconUrl: "{% static 'icons/mapicons/mappin-bed.png' %}",
            shadowUrl: "{% static 'icons/mapicons/mappin-bed-shadow.png' %}",

            iconSize:     [50, 50], // size of the icon
            shadowSize:   [50, 50], // size of the shadow
            iconAnchor:   [25, 50], // point of the icon which will correspond to marker's location
            shadowAnchor: [25, 50],  // the same for the shadow
            popupAnchor:  [0, -50] // point from which the popup should open relative to the iconAnchor
        });
        var restaurantIcon = L.icon({
            iconUrl: "{% static 'icons/mapicons/mappin-eat.png' %}",
            shadowUrl: "{% static 'icons/mapicons/mappin-bed-shadow.png' %}",

            iconSize:     [50, 50], // size of the icon
            shadowSize:   [50, 50], // size of the shadow
            iconAnchor:   [25, 50], // point of the icon which will correspond to marker's location
            shadowAnchor: [25, 50],  // the same for the shadow
            popupAnchor:  [0, -50] // point from which the popup should open relative to the iconAnchor
        });

        var visitedLocationIcon = L.icon({
            iconUrl: "{% static 'icons/mapicons/mappin-visited.png' %}",

            iconSize:     [16, 16], // size of the icon
            iconAnchor:   [8, 8], // point of the icon which will correspond to marker's location
            popupAnchor:  [0, -20] // point from which the popup should open relative to the iconAnchor
        });
        var visitedPhotoLocationIcon = L.icon({
            iconUrl: "{% static 'icons/mapicons/mappin-cameraphotoicon.png' %}",

            iconSize:     [20, 20], // size of the icon
            iconAnchor:   [8, 8], // point of the icon which will correspond to marker's location
            popupAnchor:  [0, -20] // point from which the popup should open relative to the iconAnchor
        });



        // Add markers from Django context
        var points = [
            {% for point in points %}
                {
                    "name": "{{ point.name }}",
                    "coords": [{{ point.latitude }}, {{ point.longitude }}],
                    "days": "{% for dayprogram in point.dayprograms.all %}{{ dayprogram.tripdate|date:'j F' }}{% if not forloop.last %}, {% endif %}{% endfor %}".trim(),
                    "marker_type": "{{ point.marker_type }}"
                },
  
            {% endfor %}
        ];
        var locations = [
            {% for location in locations %}
                {
                    "coords": [{{ location.latitude }}, {{ location.longitude }}],
                    "timestamp": "{{ location.timestamp }}"
                },  
            {% endfor %}
        ];
        var photolocations = [
            {% for photolocation in photolocations %}
                {% if photolocation.thumbnail %}
                    {
                        "coords" : [{{ photolocation.latitude }}, {{ photolocation.longitude }}],
                        "timestamp" : "{{ photolocation.timestamp }}",
                        "immich_photo_id" : "{{ photolocation.immich_photo_id }}",
                        "immich_url" : "{{ photolocation.tripper.immich_url }}",
                        "thumbnail" : "{{ request.scheme }}://{{ request.get_host }}{{ photolocation.thumbnail.url }}"
                    },
                {% endif %}  
            {% endfor %}
        ];


        
        // Create a feature group to store all the markers
        var markers = L.featureGroup();
        var locationsLayer = L.featureGroup();
        var photolocationsLayer = L.featureGroup();

        // Add markers to the feature group
        points.forEach(function(point) {
            var popupContent = `<b>${point.name}</b>`;
            var marker;
            console.log(point.marker_type);
            if (point.marker_type === 'bed') {
               marker = L.marker(point.coords, {icon: bedIcon}).bindPopup(popupContent);
            } else if (point.marker_type === 'restaurant') {
                marker = L.marker(point.coords, {icon: restaurantIcon}).bindPopup(popupContent);
            } else {
                marker = L.marker(point.coords).bindPopup(point.name);
            }            
            markers.addLayer(marker);
        });
         // visited locations
        locations.forEach(function(location) {
            var popupContent = `<b>${location.timestamp}</b>`;
            var marker;
            marker = L.marker(location.coords, {icon: visitedLocationIcon}).bindPopup(popupContent);
            locationsLayer.addLayer(marker);
        });
        // visited photolocations
         photolocations.forEach(function(photolocation) {
            var popupContent = `<a href="${photolocation.immich_url}photos/${photolocation.immich_photo_id}"><img src="${photolocation.thumbnail}" alt="Thumbnail" style="max-width: 100px; max-height: 100px; display: block; margin: 0 auto;" /></a><br /> <b>${photolocation.timestamp}</b>`;
            var marker;
            marker = L.marker(photolocation.coords, {icon: visitedPhotoLocationIcon}).bindPopup(popupContent);
            photolocationsLayer.addLayer(marker);
         });

        // Add the feature group to the map
        markers.addTo(map);
        //locationsLayer.addTo(map); //initially off
        photolocationsLayer.addTo(map);

        // Set the view to fit all the markers
        var allLayers = L.featureGroup([markers, locationsLayer, photolocationsLayer]);
        map.fitBounds(allLayers.getBounds());

        var lineCoordinates = [];
        locations.forEach(function(location) {
            lineCoordinates.push(location.coords);
        });
        var polyline = L.polyline(lineCoordinates, { color: 'blue', weight: 2 }).addTo(map);
        map.fitBounds(polyline.getBounds());

        var heatmapData = [];
        locations.forEach(function(location) {
            heatmapData.push([...location.coords, 0.7]); 
        });
        var heatmapLayer = L.heatLayer(heatmapData, {
            radius: 25, 
            blur: 15,   
            maxZoom: 17, 
        }).addTo(map);
        console.log(L.heatLayer);
        
        var overlays = {
            "Markers": markers,
            "Tracked Locations": locationsLayer,
            "Photolocations": photolocationsLayer,
            "Lines": polyline,
            "Heatmap": heatmapLayer
        };
        L.control.layers(null, overlays, { collapsed: false }).addTo(map);

        function handleMapLongPress(map) {
            var pressTimer;
            var latLng;

            map.getContainer().addEventListener('contextmenu', function(e) {
                e.preventDefault();
            });

            map.on('touchstart', function(e) {
                latLng = e.latlng;

                pressTimer = setTimeout(function() {
                    console.log('Longpress detected at:', latLng);

                    var newMarker = L.marker(latLng).addTo(map);

                    newMarker.bindPopup(
                    '<input type="text" id="event-name" placeholder="Event Name"><br>' +
                        '<label for="event-type">Type:</label> ' +
                        '<select id="event-type">' +
                        '  <option value="default" selected>Default</option>' +
                        '  <option value="bed">Bed</option>' +
                        '  <option value="restaurant">Restaurant</option>' +
                        '</select><br>' +
                        '<button id="save-event">Save</button>' +
                        '<button id="delete-event">Delete</button>'
                    ).openPopup();

                    newMarker.on('popupopen', function() {
                        document.getElementById('save-event').addEventListener('click', function() {
                            var eventName = document.getElementById('event-name').value;
                            var eventType = document.getElementById('event-type').value; 
                                $.ajax({
                                url: '/save_event/',
                                method: 'POST',
                                data: {
                                    'name': eventName,
                                    'type': eventType,
                                    'latitude': latLng.lat,
                                    'longitude': latLng.lng,
                                    'trip': {{ trip.id }},
                                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                                },
                                success: function(response) {
                                    console.log('Event saved successfully!');
                                },
                                error: function(xhr, status, error) {
                                    console.error('Error saving event:', error);
                                }
                            });

                            map.closePopup();
                        });

                        document.getElementById('delete-event').addEventListener('click', function() {
                            map.removeLayer(newMarker);
                            map.closePopup();
                        });
                    });

                }, 800); 
            });

            map.on('touchend touchcancel', function() {
                clearTimeout(pressTimer);
            });
        }

        handleMapLongPress(map);

        // Function to handle double-clicks on the map
        function handleMapDoubleClick(map) {
            console.log("Attaching dblclick event listener to map...");
            map.on('dblclick', function(e) {
                var latLng = e.latlng;
                console.log('doubleclicked!');

                var newMarker = L.marker(latLng).addTo(markers);

                newMarker.bindPopup(
                    '<input type="text" id="event-name" placeholder="Event Name"><br>' +
                        '<label for="event-type">Type:</label> ' +
                        '<select id="event-type">' +
                        '  <option value="default" selected>Default</option>' +
                        '  <option value="bed">Bed</option>' +
                        '  <option value="restaurant">Restaurant</option>' +
                        '</select><br>' +
                        '<button id="save-event">Save</button>' +
                        '<button id="delete-event">Delete</button>'
                ).openPopup();

                newMarker.on('popupopen', function() {
                    document.getElementById('save-event').addEventListener('click', function() {
                        var eventName = document.getElementById('event-name').value;
                        var eventType = document.getElementById('event-type').value; 

                        $.ajax({
                            url: '/save_event/',
                            method: 'POST',
                            data: {
                                'name': eventName,
                                'type': eventType,
                                'latitude': latLng.lat,
                                'longitude': latLng.lng,
                                'trip': {{ trip.id }},
                                'csrfmiddlewaretoken': '{{ csrf_token }}'
                            },
                            success: function(response) {
                                console.log('Event saved successfully!');
                            },
                            error: function(xhr, status, error) {
                                console.error('Error saving event:', error);
                            }
                        });

                        map.closePopup();
                    });

                    document.getElementById('delete-event').addEventListener('click', function() {
                        markers.removeLayer(newMarker);
                        map.closePopup();
                    });
                });
            });
        }

        handleMapDoubleClick(map);

        map.doubleClickZoom.disable();

        // Function to handle double-clicks on the map
        function handleMapTouchStart(map) {
            map.on('touchstart', function(e) {
                var latLng = e.latlng;
                console.log('Touch Event!');

                var newMarker = L.marker(latLng).addTo(map);

                newMarker.bindPopup(
                    '<input type="text" id="event-name" placeholder="Event Name"><br>' +
                        '<label for="event-type">Type:</label> ' +
                        '<select id="event-type">' +
                        '  <option value="default" selected>Default</option>' +
                        '  <option value="bed">Bed</option>' +
                        '  <option value="restaurant">Restaurant</option>' +
                        '</select><br>' +
                        '<button id="save-event">Save</button>' +
                        '<button id="delete-event">Delete</button>'
                ).openPopup();

                newMarker.on('popupopen', function() {
                    document.getElementById('save-event').addEventListener('click', function() {
                        var eventName = document.getElementById('event-name').value;
                        var eventType = document.getElementById('event-type').value; 

                        $.ajax({
                            url: '/save_event/',
                            method: 'POST',
                            data: {
                                'name': eventName,
                                'type': eventType, 
                                'latitude': latLng.lat,
                                'longitude': latLng.lng,
                                'trip': {{ trip.id }},
                                'csrfmiddlewaretoken': '{{ csrf_token }}'
                            },
                            success: function(response) {
                                console.log('Event saved successfully!');
                            },
                            error: function(xhr, status, error) {
                                console.error('Error saving event:', error);
                            }
                        });

                        map.closePopup();
                    });

                    document.getElementById('delete-event').addEventListener('click', function() {
                        markers.removeLayer(newMarker);
                        map.closePopup();
                    });
                });
            });
        }

        handleMapTouchStart(map);

    </script>
    </div>
    </div>

   <div class="card">
   <div class="container">
       <p><a href="{% url 'tripapp:trip_detail' trip.slug %}">Back to Trip</a></p>
   </div>
   </div>


</body>
</html>
