{% extends "base_generic.html" %}
{% load i18n %}

{% block content %}
    <h2>Day Programs {{ trip.name }}</h2>
    <table class="table">
        <thead>
            <tr>
                <th>{% trans "Day" %} - {% trans "Date" %}</th>
                <th>{% trans "Description" %}</th>
                <th>{% trans "Add" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for dayprogram in dayprograms %}
                <tr>
                    <td>
                        {% if user_is_tripper %}
                            <a href="{% url 'tripapp:edit_dayprogram' dayprogram.id %}">
                                {{ dayprogram.dayprogramnumber }}&nbsp;-&nbsp;{{ dayprogram.tripdate|date:"d-M" }}
                            </a>
                        {% else %}
                            {{ dayprogram.tripdate }}&nbsp;-&nbsp;{{ dayprogram.tripdate }}
                        {% endif %}
                    </td>
                    <td>
                        {% if user_is_tripper %}
                            <a href="{% url 'tripapp:edit_dayprogram' dayprogram.id %}">{{ dayprogram.description }}</a>
                        {% else %}
                            {{ dayprogram.description }}
                        {% endif %}
                    </td>
                    <td>
                        {% if user_is_tripper %}
                        <a href="{% url 'tripapp:dayprogram_questions' dayprogram.id %}">&#10067;</a>
                        <a href="{% url 'tripapp:dayprogram_scheduled_items' dayprogram.id %}">&#128197;</a>
                        <a href="{% url 'tripapp:dayprogram_links' dayprogram.id %}">&#128279;</a>
                        {% endif %}
                     </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if trip in admin_trips %}
    <a href="{% url 'tripapp:dayprogram_add' trip.id %}" class="btn">Add a Day</a>&nbsp;
    {% endif %}
    <p>&nbsp;</p>
    <p>
    <a href="{% url 'tripapp:tribe_trip_organize' trip.tribe.id trip.id %}">&larr; to Organize Trip</a>&nbsp;|&nbsp;
    <a href="{% url 'tripapp:trip_detail' slug=trip.slug  %}">&rarr; to Trip</a>
    </p>
{% endblock %}
