:root {
  --color-text: #303030;
  --color-background: white;

  --card-background-color: rgba(255, 255,255 , 0.7);
  --card-box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  --card-box-shadow-hover: 0 8px 16px 0 rgba(0,0,0,0.2);

  /*--btn-background: #f88c34; */
  /*--btn-background: #ef98aa; */
  --btn-background: lightgray;
  --dayprogram-background: rgba(255,255,255,0.8);
  --bs-dropdown-bg-overr: rgba(255, 255, 255, 0.700);
}
@media (prefers-color-scheme: dark) {
  /* Re-assign previous variables */
  :root {
    --color-text: white; /* black => white */
    --color-background: black; /* white => black */

    --card-background-color: rgba(0, 0, 0, 0.7);
    --card-box-shadow: 0 4px 8px 0 rgba(255,255,255,0.2);
    --card-box-shadow-hover: 0 8px 16px 0 rgba(255,255,255,0.2);
    /*--btn-background: #34a0f8; */
    --btn-background: #C70039;
    --dayprogram-background: rgba(0,0,0,0.8);
    --bs-dropdown-bg-overr: rgba(255, 255, 255, 0.100);
  }
}

body {
  color: var(--color-text);
  background-color: var(--color-background);
  font-family:sans-serif;
  font-size:1em;
}
.card {
  box-shadow: var(--card-box-shadow);
  transition: 0.3s;
  margin: 0 auto;
  min-width: 320px;
  max-width: 900px;
  background-color: var(--card-background-color);
  color: var(--color-text);
}
.tripappcard {
  box-shadow: var(--card-box-shadow);
  transition: 0.3s;
  margin: 0 auto;
  min-width: 320px;
  max-width: 900px;
  background-color: var(--card-background-color);
  color: var(--color-text);
}

.card:hover {
  box-shadow: var(--card-box-shadow-hover);
}
.topcontainer {
  color: var(--color-text);
  display: flex;  
  align-items: stretch;  
  justify-content: space-between;  
  height: auto;  
}

.titlecontainer {
  color: var(--color-text);
  flex: 3;  
  padding: 0px;
  text-align: left; 
}

.menucontainer {
  color: var(--color-text);
  padding: 10px;
  text-align: right;  
}

.menucontainer ul {
  color: var(--color-text);
  list-style: none;  
  padding: 0;
  margin: 0;
}

.menucontainer li {
  color: var(--color-text);
  margin-left: 15px;  
}
.custom-dropdown-menu{
  --bs-dropdown-bg: var(--bs-dropdown-bg-overr);
}
.tripmenucontainer {
  color: var(--color-text);
  display: flex;  
  align-items: stretch;  
  justify-content: space-between;  
  height: auto;  
  gap: 2px;
  padding: 0px;
}


.tripmenuitem {
  flex: 1; 
  text-align: center; 
}
.tripmenuitem a.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%; 
  height: 70px; 
  background-color: var(--btn-background);
  color: var(--color-text);
  border: none;
  border-radius: 5px;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.tripmenuitem a.btn img {
  height: 50px; 
}

/*.tripmenuitem img {
  display: block; 
  margin: 0 auto; 
}*/
.tripmenuitem .dropdown .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px; 
  width: 100%;
  /*background-color: var(--card-background-color);*/  
  color: var(--color-text);
  border-radius: 5px;
  text-decoration: none;
  border: none;
  font-size: 16px;
}

.tripmenuitem .dropdown-menu {
  margin-top: 5px; 
  border-radius: 5px;
}

.cardcontainer {
  padding: 2px 16px;
  text-align:left;
}
.container {
  padding: 2px 16px;
  text-align:left;
}
.badgecontainer {
  padding: 2px 16px;
  text-align:center;
}
.img {
  max-width: 300px;
}
.smallgrey {
  font-variant: small-caps;
  color:silver;
  font-size: 0.8em;
}
.tripcard {
  background-color: rgba(211, 211, 211, 0.5); 
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  margin: 0 auto;
  min-width: 320px;
  max-width: 900px;
}
a:link {
  color: var(--color-text);
  text-decoration: none;
}

a:visited {
  color: var(--color-text);
  text-decoration: none;
}

a:hover {
  color: var(--color-text);
  text-decoration: none;
}

a:active {
  color: var(--color-text);
}

a.nodec:link {
  color: var(--color-text);
  border-radius: 6px;
  background-color: var(--dayprogram-background);
  padding: 2px 12px;
  text-decoration: none;
}

/* visited link */
a.nodec:visited {
  color: var(--color-text);
  border-radius: 6px;
  background-color: var(--dayprogram-background);
  padding: 2px 12px;
  text-decoration: none;
}

/* mouse over link */
a.nodec:hover {
  color: var(--color-text);
  text-decoration: none;
  border-radius: 6px;
  background-color: var(--dayprogram-background);
  padding: 2px 12px;
}

/* selected link */
a.nodec:active {
  color: var(--color-text);
  text-decoration: none;
  border-radius: 6px;
  background-color: var(--dayprogram-background);
  padding: 2px 12px;
}

a.tripdetail {
  color: var(--color-text);
  text-decoration: none;
  padding: 4px;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 4px;
}
a.tripdetail:hover {
  color: var(--color-text);
  text-decoration: none;
  padding: 4px;
  border-radius: 4px;
  background-color: var(--dayprogram-background);
}
a.tripdetail:active {
  color: var(--color-text);
  text-decoration: none;
  padding: 4px;
  border-radius: 4px;
  background-color: var(--dayprogram-background);
}

a.btn {
             border-radius: 6px;
             background-color: var(--btn-background);
             padding: 14px 2px;
             font-size: 16px;
             cursor: pointer;
             display: inline-block;
             text-decoration: none;
        }
a.btn:hover {background: var(--color-background);}

a.btn-fixed-width {
             border-radius: 6px;
             background-color: var(--btn-background);
             padding: 14px 28px;
             font-size: 16px;
             cursor: pointer;
             display: inline-block;
             text-decoration: none;
             width: 250px;
             margin: 2px;
        }

a.btn-fixed-width:hover {background: var(--color-background);}

a.btn-less-padding {
             border-radius: 6px;
             background-color: var(--btn-background);
             padding: 4px 4px;
             font-size: 16px;
             cursor: pointer;
             display: inline-block;
             text-decoration: none;
        }

a.btn-less-padding:hover {background: var(--color-background);}

a.btn-more-padding {
  border-radius: 6px;
  background-color: var(--btn-background);
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
}

a.btn-more-padding:hover {background: var(--color-background);}


.bingocard-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.bingocard {
    background-color: var(--color-background);
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 240px;
    margin: 0px;
}

.bingocard-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.bingo-image {
    max-width: 40%;
    height: auto;
    margin-right: 20px;
}

.answers {
    flex: 1;
    text-align: left;
    margin-right: 20px;
}

.answer {
    margin-bottom: 5px;
}

.answer-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 5px 0;
}

.upload-section {
    text-align: right;
}

.upload-link {
    display: inline-block;
    padding: 10px 15px;
    color: var(--color-text);
    background-color: var(--btn-background);
    border-radius: 5px;
    text-decoration: none;
}

.upload-link:hover {
    background-color: var(--color-background);
}

.polaroid {
    width: 300px; 
    padding: 10px;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    text-align: center;
    transform: rotate(0deg);
    transition: transform 0.2s;
}

.polaroid:hover {
    transform: rotate(-5deg);
}

.polaroid img {
    width: 100%;
    height: auto;
    display: block;
}
.caption {
    margin: 10px;
    padding: 0px 0;
    color: #333;
}

.today {
    border-style: solid;
    border-radius: 6px;
    border-color: var(--btn-background); 
    padding: 5px;
}

.dayprogram_description {
  border-radius: 6px;
  background-color: var(--dayprogram-background);
  padding: 2px 12px;
  text-align: center;
}

.daydetail-button-container {
  display: flex;
  gap: 5px; 
}

.daydetail-button {
  border-radius: 6px;
  background-color: var(--dayprogram-background);
  padding: 10px 10px;
  text-align: center;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 60px; 
  min-width: 70px; 
  cursor: pointer;
}

.daydetail-button:hover {
  background-color: var(--color-background);
  text-decoration: none;
}

/* Filter form styles */
#filter-form {
  display: none;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
}

#filter-form.show {
  display: flex; 
  opacity: 1;
  max-height: 200px; 
}

#filter-form .form-group {
  display: flex; 
  align-items: center;
  margin-right: 10px; 
}

#filter-form label {
  margin-right: 5px; 
}

/* leaflet */
.leaflet-popup-content {
    background-color: rgba(255, 255, 255, 0.8) !important; 
    padding: 0 !important;
    margin: 0 !important;
}

.leaflet-popup-content-wrapper {
    background: transparent !important;
    box-shadow: none !important;
    border: none !important;
}

.leaflet-popup-tip {
    background: transparent !important;
}
.custom-popup {
    font-family: sans-serif;
    padding: 8px;
    text-align: center;
}
.custom-popup h4 {
    margin: 0 0 4px 0;
    font-size: 14px;
    font-weight: bold;
}
.custom-popup img {
    max-width: 120px;
    border-radius: 6px;
    margin-bottom: 6px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.2);
}
.custom-popup .timestamp {
    font-size: 12px;
    color: #666;
}



img.user-icon {
  content: url('/static/icons/usericonreverse.png');
}

/* Dark mode images */
@media (prefers-color-scheme: dark) {
  img.user-icon {
      content: url('/static/icons/usericon.png');
  }
  img.doc-icon {
      content: url('/static/icons/icon-doc-reverse.png');
  }
  img.url-icon {
      content: url('/static/icons/icon-url-reverse.png');
  }
  img.iconedittrip{
      content: url('/static/icons/iconedittrip-reverse.png');
  }
  img.iconeditbadge{
      content: url('/static/icons/iconeditbadge-reverse.png');
  }
  img.iconeditbingo{
      content: url('/static/icons/iconeditbingo-reverse.png');
  }
  img.iconedittripper{
      content: url('/static/icons/iconedittripper-reverse.png');
  }
  img.iconeditmap{
      content: url('/static/icons/iconeditmap-reverse.png');
  }
  img.iconeditdayprogram{
      content: url('/static/icons/iconeditdayprogram-reverse.png');
  }

}

